.latest-posts-post-title {
  font-size: 1.5rem;
  color: white;
}

.latest-posts-post-text {
  color: rgba(255, 255, 255, 0.60);
}

.latest-posts-post-info {
  padding-top: 17px;
  padding-bottom: 17px;
}

.latest-post-wrapper-div:before {
  content: "";
  padding-top: 115.16%;
  display: block;
}

@media screen and (max-width: 1499px) {
  .latest-post-wrapper-div:before {
    padding-top: 130%;    
  }
}

@media screen and (max-width: 1125px) {
  .latest-post-wrapper-div:before {
    padding-top: 135%;    
  }
}

@media screen and (max-width: 875px) {
  .latest-post-wrapper-div:before {
    padding-top: 145%;    
  }
}

@media screen and (max-width: 750px) {
  .latest-post-wrapper-div:before {
    padding-top: 150%;    
  }
}

@media screen and (max-width: 576px) {
  .latest-post-wrapper-div:before {
    padding-top: 128%;    
  }
}

@media screen and (max-width: 545px) {
  .latest-post-wrapper-div:before {
    padding-top: 130%;    
  }
}

@media screen and (max-width: 380px) {
  .latest-post-wrapper-div:before {
    padding-top: 135%;    
  }
}

.latest-post-wrapper-div {
  display: inline-block;
  width: 100%;
  position: relative;  
}

.latest-post-wrapper-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.latest-posts-post-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.latest-posts-post-img-wrapper-div:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.latest-posts-post-img-wrapper-div {
  display: inline-block;
  width: 100%;
  position: relative;
}

.hidden-img {
  opacity: 0;
}

.visible-img {
  opacity: 1;
  transition: opacity 125ms linear;
}

.hidden-loading-indicator {
  opacity: 0;
  transition: opacity 125ms ease-in;
}

.visible-loading-indicator {
  opacity: 1;
}
.loading-indicator-post {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
