<form [formGroup]="aboutForm" (submit)="aboutFormSubmit()" *ngIf="aboutObj" autocomplete="off">
  <div class="col-sm-10
            offset-sm-1
            col-md-8
            offset-md-2
            col-lg-8
            offset-lg-2
            col-xl-6
            offset-xl-3
            col-xs-12 about-form-wrap">
    <md-card>
      <md-card-header class="about-form-card-header">
        <div class="col-xs-12 col-lg-6 col-xl-6">
          <int-about-form-image-preview [imgSrc]="imageSrc"
                                        (imageLoaded)="handleAboutImageLoadDone($event)"
                                        (removeImage)="removeImage()"></int-about-form-image-preview>
        </div>
        <div class="col-xs-12 col-lg-6 col-xl-6">
          <md-input-container dividerColor="primary" class="about-header-input-wrap full-width">
            <input formControlName="header" mdInput placeholder="Header">
          </md-input-container>
        </div>
      </md-card-header>
      <md-card-content class="about-form-card-content">
        <md-input-container dividerColor="primary" class="about-description-input-container full-width col-xs-12">
          <textarea rows="15" formControlName="description" mdInput class="about-description-input" placeholder="About me"></textarea>
        </md-input-container>
        <input hidden #fileInput type="file"
               ng2FileSelect
               #input
               (change)="handleFileSelection(input)"
               [uploader]="aboutService.uploader">
      </md-card-content>
      <md-card-actions>
        <md-toolbar class="add-post-action-bar">
          <button class="add-image-button"
                  [md-tooltip]="aboutObj.image ? 'Replace image' : 'Add image'"
                  md-icon-button
                  type="button"
                  (click)="selectFileInput()">
            <md-icon class="add-image-icon">image</md-icon>
          </button>
          <span flex style="flex: 1 1 auto;"></span>
          <button tabindex="0"
                  (click)="cancelChanges()"
                  md-button type="button">Cancel Changes</button>
          <button tabindex="0"
                  md-button type="submit"
                  class="add-post-done-button">Done</button>
        </md-toolbar>
      </md-card-actions>
    </md-card>
  </div>
</form>

