# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/aot
/client/aot

# dependencies
/node_modules
/bower_components

/client/src/ts/**/*.js
/client/src/stylesheets/bootstrap.css
/client/src/stylesheets/theme.css
/client/src/*.js
/client/src/*.ts
/client/src/static
/client/src/*.map

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.editorconfig
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/static/*
.png
.jpg
.jpeg

# e2e
/e2e/*.js
/e2e/*.map



#System Files
.DS_Store
Thumbs.db
