# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/aot

# dependencies
/node_modules
/bower_components

/src/ts/**/*.js
/src/stylesheets/bootstrap.css
/src/stylesheets/theme.css
/src/*.js
/src/*.ts
/src/static
/src/*.map

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/static/*
.png
.jpg
.jpeg

# e2e
/e2e/*.js
/e2e/*.map



#System Files
.DS_Store
Thumbs.db
