<div class="post-form-image-preview-comp-wrap">
  <div class="text-xs-right remove-img-button-wrap">
    <button md-button
            md-icon-button
            type="button"
            md-tooltip="Remove image"
            (click)="removeThisImage($event)">
      <md-icon>
        close
      </md-icon>
    </button>
  </div>

  <div class="post-preview-img-wrap">
    <img class="post-preview-img" [src]="imgData">
  </div>
  <button md-button
          (click)="setThisImageAsThumbnail($event)"
          type="button">Set as thumbnail</button>
</div>
