
<!doctype html>
<html>
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>JrCompanySite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="stylesheets/theme.css">
  <link href="stylesheets/bootstrap.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">
  <script src="Reflect.js"></script>
  <script src="system.src.js"></script>
  <script src="system.js"></script>
  <script src="zone.js"></script>
  <script src="hammer.js"></script>
  <script src="Rx.js"></script>
  <script src="angular2.dev.js"></script>
  <script src="bundle.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div class="site-wrap" style="overflow-x: hidden">
  <app-root>Loading...</app-root>
</div>



</body>
