
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>JrCompanySite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>


<script src="Reflect.js"></script>
<script src="system.src.js"></script>
<script src="system.js"></script>
<script src="zone.js"></script>
<script src="Rx.js"></script>
<script src="angular2.dev.js"></script>
<script src="bundle.js"></script>

<app-root>Loading...</app-root>

</body>
