<div>
  <div 
    class="home-content-container"
    style="min-height: 900px"
  >
  
  </div>
  <div class="home-content-container">
    <div class="home-content-block-header">
      <h1 class="home-section-text small-header">LATEST</h1>
    </div>
    <div class="home-content-block">
      <app-public-latest-posts></app-public-latest-posts>  
    </div> 
  </div>
</div>
<div style="background-color: #303040">
  <div class="home-content-container container">
    <div class="row">
      <div class="col-lg-6 col-12 home-content-block-col">
          
     
        <div>
            <div class="home-content-block-header">
              <h1 class="home-section-text small-header">STREAM</h1>
            </div>
            <div 
              class="home-content-block"
              scrollInView
              (onPartiallyInView)="triggerSoundcloudWidgetLoad()"
            >
              <iframe *ngIf="shouldLoadSoundcloudWidget" width="100%" height="515" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/6938164&amp;color=%231d1d1d&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            </div>
        </div>    
      </div>
      <div class="col-lg-6 col-12 home-content-block-col">

          <div>
              <div class="home-content-block-header">
                <h1 class="home-section-text small-header">FOLLOW</h1>
              </div>
              <div 
                class="home-content-block"
                scrollInView
                (onPartiallyInView)="triggerTwitterFeedLoad()"
              >
                <a 
                  data-height="515"
                  class="twitter-timeline" 
                  href="https://twitter.com/wears_glasses?ref_src=twsrc%5Etfw"
                ></a>
              </div>
          </div>          
          <!--
          <div>
              <div class="home-content-block">
                <h1 class="home-section-text small-header">FOLLOW</h1>
                <h1 class="home-section-text big-header">Twitter</h1>
              </div>
              <div class="home-content-block">
                <a 
                  data-height="415"
                  class="twitter-timeline" 
                  href="https://twitter.com/wears_glasses?ref_src=twsrc%5Etfw"
                >National Park Tweets - Curated tweets by TwitterDev</a>
              </div>
          </div>            -->
          
      </div>    
    </div> 
    <div class="row">
        <div class="col-12 home-content-block-col">
            <div>
                <div class="home-content-block-header">
                  <h1 class="home-section-text small-header">IMAGES</h1>
                </div>
                <div 
                  class="home-content-block" 
                  scrollInView
                  (onPartiallyInView)="triggerInstagramFeedLoad()"
                >
                  <app-public-instagram-feed 
                    [cols]="instagramFeedCols"
                    [shouldLoadImages]="shouldLoadInstagramFeed"
                  >
                  </app-public-instagram-feed>
                </div>
            </div>              
          </div>      
    </div>
  </div>
   
</div>
<div style="height: 700px;"><div>