<mat-card class="embed-card">
  <mat-card-title>
    {{ post.title }}
  </mat-card-title>
  <mat-card-content class="text-center">
    <div>
        <img 
          class="post-thumbnail-img" 
          *ngIf="post.images[post.thumbnailIndex]" 
          (error)="handlePostLoadError()" 
          (load)="finishedLoadingPost()" 
          (click)="handleThumbnailClick()"
          [src]="post.images[post.thumbnailIndex]"
        >        
    </div>
    <div class="desc-wrap text-left">
      <p class="interface-post-description">{{ post.description }}</p>
    </div>
    <div class="embed-card-actions">
      <ng-content></ng-content>
    </div>
  </mat-card-content>
</mat-card>
