<div class="settings-wrap" (window:resize)="onResize($event)">
  <div class="settings-toolbar-wrap">
    <md-toolbar class="settings-toolbar"  color="primary">
      <span>Settings</span>
      <span class="toolbar-spacer"></span>
      <span *ngIf="currentWidth > 559">
        <button md-button (click)="goToInterface()" class="navbar-button" style="background-color: #009688; color: white; margin-right: 15px;">
          <md-icon class="navbar-button-icon">home</md-icon>
          <span>Interface</span>
        </button>
        <button md-button (click)="logout()" style="background-color: #009688; color: white; margin-right: 15px;">
          <md-icon class="navbar-button-icon">power_settings_new</md-icon>
          <span>Log Out</span>
        </button>
      </span>
      <span *ngIf="currentWidth < 560">
        <button md-icon-button [mdMenuTriggerFor]="navbarMenu"><md-icon>more_vert</md-icon></button>
        <md-menu #navbarMenu="mdMenu">
          <button md-menu-item (click)="goToInterface()">
            <md-icon>home</md-icon>
            <span>Interface</span>
          </button>
          <button md-menu-item (click)="logout()">
            <md-icon>power_settings_new</md-icon>
            <span>Log Out</span>
          </button>
        </md-menu>
      </span>
    </md-toolbar>
  </div>
  <div class="settings-content-wrap" style="margin-top: 64px;">
    <settings-content></settings-content>
  </div>
</div>
