<form #changePassword="ngForm" (submit)="submitPasswordChange($event)">
  <div>
    <div>
      <h5>Change Password</h5>
    </div>
    <div class="change-password-input-fields-container row">
      <div class="col-12">
        <md-form-field class="change-password-input-container">
          <input [(ngModel)]="passwordChange.oldPassword" name="oldPassword" mdInput placeholder="Current password" type="password" required>
        </md-form-field>
      </div>
      <div class="col-12">
        <md-form-field class="change-password-input-container">
          <input [(ngModel)]="passwordChange.newPassword" name="newPassword" minlength="6" mdInput placeholder="New password" type="password" required>
        </md-form-field>
      </div>
      <div div class="col-12">
        <md-form-field class="change-password-input-container">
          <input [(ngModel)]="passwordChange.confirmedPassword" name="confirmedPassword" minlength="6" mdInput placeholder="Confirm new password" type="password" required>
        </md-form-field>
      </div>
    </div>
    <div class="change-password-actions-container row text-right">
      <button type="button" md-raised-button style="margin-right: 5px;" (click)="resetForm()">Cancel</button>
      <button type="submit" color="primary" md-raised-button [disabled]="changePassword.form.invalid">Submit</button>
    </div>
  </div>
</form>
