<div class="container-fluid non-home-route-wrap">
  <div class="video">
    <app-public-pagination-control-button
      text="PREVIOUS"
      (click)="goToPreviousPage()"
    ></app-public-pagination-control-button>
    <app-public-pagination-control-button
      text="NEXT"
      (click)="goToNextPage()"
    ></app-public-pagination-control-button>    
    <app-public-posts 
      [posts]="posts$ | async"
      [shouldLoadPosts]="true"
      [isFourColumnsMax]="fourColumnGridMax"
    ></app-public-posts>
  </div>
</div>
