<div (window:resize)="onResize($event)" focusedForm (focused)="focusEvent($event)">
  <div class="loading-wrap-interface" *ngIf="doneLoadingContent === false" >
    <md-progress-spinner style="margin: auto;" mode="indeterminate" color="primary"></md-progress-spinner>
  </div>
  <div class="interface-content-wrap" [hidden]="doneLoadingContent === false" [@interfaceState]="animationState">
    <int-post-form (focused)="focusEvent($event)"
               (startLoad)="handleSubmission()"
               (doneLoad)="submissionFinished()"
               (doneLoadError)="submissionFinishedWithError()"
               (doneClick)="formDone()"
               [focused]="focusForm"
               tabindex="0"
               class="add-post col-sm-10
                          offset-sm-1
                          col-md-8
                          offset-md-2
                          col-lg-8
                          offset-lg-2
                          col-xl-6
                          offset-xl-3
                          col-xs-12 clearfix">
    </int-post-form>
    <div class="grid-list-wrap">

      <md-grid-list  [cols]="cols" rowHeight="450px">
        <md-grid-tile *ngFor="let post of embedPosts;">
          <embed-post [post]="post">
            <button type="button"
                    md-raised-button
                    color="warn"
                    (click)="removePost(post._id)">Delete</button>
            <button type="button"
                    md-raised-button
                    color="primary"
                    style="float: right;"
                    (click)="editPost(post)">Edit</button>
          </embed-post>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</div>




