<div class="interface-wrap" (window:resize)="onResize($event)">

  <md-toolbar class="interface-toolbar"  color="primary">
    <span>Manage Site Content</span>
    <span class="toolbar-spacer"></span>
    <span *ngIf="currentWidth > 559">
      <button md-button (click)="goToSettings()" class="navbar-button" style="background-color: #009688; color: white; margin-right: 15px;">
        <md-icon class="navbar-button-icon">settings</md-icon>
        <span>Settings</span>
      </button>
      <button md-button (click)="logout()" style="background-color: #009688; color: white; margin-right: 15px;">
        <md-icon class="navbar-button-icon">power_settings_new</md-icon>
        <span>Log Out</span>
      </button>
    </span>
    <span *ngIf="currentWidth < 560">
      <button md-icon-button [mdMenuTriggerFor]="navbarMenu"><md-icon>more_vert</md-icon></button>
      <md-menu #navbarMenu="mdMenu">
        <button md-menu-item (click)="goToSettings()">
          <md-icon>settings</md-icon>
          <span>Settings</span>
        </button>
        <button md-menu-item (click)="logout()">
          <md-icon>power_settings_new</md-icon>
          <span>Log Out</span>
        </button>
      </md-menu>
    </span>
  </md-toolbar>


    <nav md-tab-nav-bar color="primary">
      <a md-tab-link
         *ngFor="let link of tabLinks; let i = index"
         [routerLink]="[link.path, { contentType: link.contentType }]"
         routerLinkActive #rla="routerLinkActive"
         [active]="rlaSafe && activeLinkIndex === i"
         (click)="activeLinkIndex = i">
        {{ link.label }}
      </a>
      <!--
      <a md-tab-link
         #aboutTab label="About">
        <interface-content></interface-content>
      </a>-->
    </nav>
  <div style="padding-top: 160px !important;">
    <router-outlet></router-outlet>
  </div>

</div>


