<div class="public-container" style="height: 100%;">
  <div class="nav-section">
    <div class="nav-bar-wrap" 
         [class.fade-nav]="fadeNavBar" 
         [style.margin-top]="marginTopStyleString">
      <public-nav-bar 
        [shouldCollapseLogo]="shouldCollapseNavLogo" 
        [linksOpacity]="navBarLinksOpacity"
        [menuIsOpen]="_menuIsOpen"
        (onNavBarMouseEnter)="navBarMouseEnter()"
        (onNavBarMouseLeave)="navBarMouseLeave()"
        (menuOpenStatusChange)="handleMenuOpenStatusChange($event)"
      ></public-nav-bar>
    </div>
  </div>
  <div style="background-color: grey;">
    <router-outlet></router-outlet>
  </div>   
</div>
