<div class="public-container" style="height: 100%;">
  <div class="nav-section">
    <div class="nav-bar-wrap" 
         [class.fade-nav]="fadeNavBar" 
         [style.margin-top]="marginTopStyleString">
      <public-nav-bar 
        [shouldCollapseLogo]="shouldCollapseNavLogo" 
        [linksOpacity]="navBarLinksOpacity"
        (onNavBarMouseEnter)="navBarMouseEnter()"
        (onNavBarMouseLeave)="navBarMouseLeave()"
      ></public-nav-bar>
    </div>
  </div>
  <div style="height: 2500px; background-color: grey;">

  </div>   
</div>
