<div 
  class="post-wrapper-div"
  scrollInView
  (onPartiallyInView)="triggerPostLoad()"
>
  <div class="post-wrapper-child">
    <div class="posts-post-img-wrapper-div" (click)="navigateToPost()">
      <img 
        [src]="post.images[post.thumbnailIndex]" 
        class="posts-post-image"
        *ngIf="shouldLoad"
        (load)="handleImageLoadDoneEvent()"
        [class.hidden-img]="!imageLoaded" 
        [class.visible-img]="imageLoaded"
      >      
      <div class="loading-indicator-wrap" *ngIf="!imageLoaded">
        <mat-progress-spinner 
          [class.visible-loading-indicator]="!imageLoaded" 
          [class.hidden-loading-indicator]="imageLoaded" 
          class="loading-indicator-post" 
          mode="indeterminate"
        ></mat-progress-spinner>    
      </div>      
    </div>
    <div class="posts-post-info" (click)="navigateToPost()">
      <div>
        <span class="posts-post-title">{{ post.title }}</span>
      </div>
      <div>
        <span class="posts-post-text">{{ post.created | date:'longDate' }}</span>
      </div>
    </div>
  </div>
</div>


