<div 
  class="post-wrapper-div"
  scrollInView
  (onPartiallyInView)="triggerPostLoad()"
>
  <div class="post-wrapper-child">
    <div class="posts-post-img-wrapper-div">
      <a 
        [routerLink]="postLink" 
        [queryParams]="postLinkQueryParams" 
        class="posts-post-link"
      >
        <img 
          [src]="post.images[post.thumbnailIndex]" 
          class="posts-post-image"
          *ngIf="shouldLoad"
          (load)="handleImageLoadDoneEvent()"
          [class.hidden-img]="!imageLoaded" 
          [class.visible-img]="imageLoaded"
        >   
      </a>
      <div class="loading-indicator-wrap" *ngIf="!imageLoaded">
        <mat-progress-spinner 
          [class.visible-loading-indicator]="!imageLoaded" 
          [class.hidden-loading-indicator]="imageLoaded" 
          class="loading-indicator-post" 
          mode="indeterminate"
        ></mat-progress-spinner>    
      </div>      
    </div>
    <div class="posts-post-info">
      <div class="posts-post-title-link-wrap">
        <a 
          [routerLink]="postLink" 
          [queryParams]="postLinkQueryParams" 
          class="posts-post-link"
        >
          <span class="posts-post-title">{{ post.title }}</span>            
        </a>
      </div>
      <div>
        <a 
          [routerLink]="postLink" 
          [queryParams]="postLinkQueryParams" 
          class="posts-post-link"
        >
          <span class="posts-post-text">{{ post.created | date:'longDate' }}</span>            
        </a>
      </div>
    </div>
  </div>
</div>


