<md-card class="embed-card">
  <md-card-title>
    {{ post.title }}
  </md-card-title>
  <md-card-content>
    <!--
    <div class="iframe-wrap" *ngFor="let iframe of post.embedContentSafe" [innerHtml]="iframe">
    </div>-->
    <img class="post-thumbnail-img" (load)="finishedLoadingPost()" [src]="post.images[post.thumbnailIndex]">
    <div class="desc-wrap">
      {{ post.description }}
    </div>
    <div class="embed-card-actions">
      <ng-content></ng-content>
    </div>

  </md-card-content>

</md-card>
