<div class="interface-wrap" (window:resize)="onResize($event)" focusedForm (focused)="focusEvent($event)">
  <md-toolbar class="interface-toolbar"  color="primary">
    <span>Manage Site Content</span>
  </md-toolbar>

  <md-tab-group color="primary">
    <md-tab #musicTab label="Music">

        <div class="tab-wrapper">
          <div class="loading-wrap-interface" [hidden]="!isLoading" [ngStyle]="{ 'height': screenHeight + 'px' }">
            <md-progress-spinner style="margin: auto;" mode="indeterminate" color="primary"></md-progress-spinner>
          </div>
          <div class="interface-content-wrap" [hidden]="isLoading" [@interfaceState]="animationState">
            <post-form (focused)="focusEvent($event)"
                       (startLoad)="handleSubmission()"
                       (doneLoad)="submissionFinished()"
                       (doneloaderror)="submissionFinishedWithError()"
                       (doneClick)="formDone()"
                       [focused]="focusForm"
                       tabindex="0"
                       class="add-post col-sm-10
                                  offset-sm-1
                                  col-md-8
                                  offset-md-2
                                  col-lg-8
                                  offset-lg-2
                                  col-xl-6
                                  offset-xl-3
                                  col-xs-12 clearfix">
            </post-form>
            <div class="grid-list-wrap">

              <md-grid-list  [cols]="cols" rowHeight="450px">
                <md-grid-tile *ngFor="let post of embedPosts; trackBy: postTrackBy">
                  <embed-post [post]="post"
                              (doneLoading)="postDoneLoading()">
                    <button type="button"
                            md-raised-button
                            color="primary"
                            (click)="editPost(post)">Edit</button>
                    <button type="button"
                            md-raised-button
                            color="accent"
                            (click)="removePost(post._id)">Delete</button>
                  </embed-post>
                </md-grid-tile>
              </md-grid-list>
            </div>
          </div>
        </div>

    </md-tab>
    <md-tab #frTab label="Field Recordings">
      <div class="tab-wrapper">
        <post-form (focused)="focusEvent($event)"
                   (doneClick)="formDone()"
                   [focused]="focusForm"
                   tabindex="0"
                   class="add-post col-sm-10
                                offset-sm-1
                                col-md-8
                                offset-md-2
                                col-lg-8
                                offset-lg-2
                                col-xl-6
                                offset-xl-3
                                col-xs-12 clearfix">
        </post-form>
      </div>
    </md-tab>
    <md-tab #aboutTab label="About">
      <div class="tab-wrapper">
        <post-form (focused)="focusEvent($event)"
                   (doneClick)="formDone()"
                   [focused]="focusForm"
                   tabindex="0"
                   class="add-post col-sm-10
                                offset-sm-1
                                col-md-8
                                offset-md-2
                                col-lg-8
                                offset-lg-2
                                col-xl-6
                                offset-xl-3
                                col-xs-12 clearfix">
        </post-form>
      </div>

    </md-tab>
  </md-tab-group>
</div>
