.feed-image-wrapper {
  width: 100.2%;
  height: 100.2%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 2;
}

.feed-image-wrapper.hide {
  visibility: hidden;
  opacity: 0;
}

.feed-image-wrapper:hover {
  cursor: pointer;
}

.loading-indicator-image {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}
